.nav {
  background-color: black;
  background-size: cover;
}
.nav a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color: #1565C0;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:16px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 72px;  
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
}

.Availability {
	background-color: #1565C0;
	background-size: cover;
 }
 .Availability h2 {
 	color: black;
 	font-size: 64;
 	font-weight: bold;
 	text-align: left;
 	font-family: 'Trebuchet MS', Helvetica, sans-serif;
 	font-style: normal;
 	font-variant: normal;
 }
 
 .Availability h3 {
 	color: red;
 	font-size: 48;
 	font-family: 'Trebuchet MS', Helvetica, sans-serif;
 }

.learn-more {
  background-color: #1565C0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
}

.learn-more h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
  
}
 
.learn-more h2 {
	font-size: 32px;
	font-weight: bold;
	left: 16px;
	color: white;
}

.learn-more p {
	font-size: 24px;
	left: 32px;
	color: white;
}


.neighborhood-guides {
 background-color: #efefef;
 border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2 {
 color: #393c3d;
 font-size: 24px;
}
.neighborhood-guides p {
 font-size: 15px;
 margin-bottom: 13px;
}
